body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    /* TODO: Change header to my photo */
    background-image: url("../asset/img/coffeehouse.jpg");
    min-height: 75%;
  }
  
  .menu {
    display: none;
  }